$bp-med: 30em;
$bp-lrg: 50em;

@import "normalize";





/**************************************************************/
/************************* BASE STYLES ************************/
/**************************************************************/

html,
button,
input,
select,
textarea {
    color: #222;
}

$bl: 1.4;
$fs: 16px;
$fs-med: $fs * 1.15;
$fs-lrg: $fs * 1.3;

html {
    font-size: $fs;
    line-height: $bl;
    font-family: "ff-meta-serif-web-pro", "helvetica neue", arial, sans-serif;
    color: #2C3033;

    @media (min-width: $bp-med) {
        font-size: $fs-med;
    }

    @media (min-width: $bp-lrg) {
        font-size: $fs-lrg;
    }
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6
p, ul, ol {
    margin-bottom: 1.5em;
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    line-height: 1.1;

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    font-size: 1.6em;

    @media (min-width: $bp-med) {
        font-size: 2.4em;
    }
}

h2 {
    font-size: 1.4em;

        @media (min-width: $bp-med) {
            font-size: 1.7em;
        }
}

h3 {
    font-size: 1.2em;

        @media (min-width: $bp-med) {
            font-size: 1.4em;
        }
}

p {
    margin: 0 0 0.75em 0;
}

li {
    margin-bottom: 0.5em;

    > p {
        margin-bottom: 0;

        + p {
            margin-top: 0.5em;
        }
    }
}

a {
    color: #B10B13;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    line-height: 1;
}

a:hover,
a:focus,
a:focus {
    color: desaturate(lighten(#B10B13, 10%), 10%);
    border-bottom: 1px solid desaturate(lighten(#B10B13, 10%), 10%);
}

img {
    max-width: 100%;
}




/**************************************************************/
/*************************** LAYOUT ***************************/
/**************************************************************/

.container {
    margin: 0 auto;
    max-width: 40em;
    padding: 0.5em;

    @media (min-width: $bp-med) {
        padding: 1.5em 2em;
    }
}






/**************************************************************/
/************************** OBJECTS ***************************/
/**************************************************************/

/**
 * Table of contents
 */

/*div*/.toc {
    display: block;
    padding: 1em;
    background: darken(white, 4%);
    border: 1px solid darken(white, 8%);
    border-radius: 0.125em;

    > :last-child {
        margin-bottom: 0;
    }
}

.toc__title {
    margin-bottom: 0.5em;
}

/*li*/.toc__item {
    margin-bottom: 0;
}


/**
 * Video image
 * Usually a .gif screencast
 */

.video-image {
    padding: 1em;
    background: darken(white, 4%);
    border: 1px solid darken(white, 8%);
    border-radius: 0.125em;
    margin-bottom: 1em * $bl;
}